# The .gitignore file specifies files, filetypes, and directories that 
# git and GitHub will ignore and leave out of a repository.
# 
# The asterisk '*' is a wildcard character that substitutes for any number of 
# characters (0 or more). So if "*.txt" is on a line by itself, all plain text 
# files will be ignored.
# -- James 2018-06-16

# How to ignore entire folders: 
RowanMIPS16bit/simulation/modelsim/
RowanMIPS16bit/ModelSimAltera/
RowanMIPS16bit/ignoreThisFolder/

# Quartus II makes backup copies of source code files. We don't need to pass them around. 
*.bak

# Quartus II can generate large numbers of large files, so if you encounter
# any such files, include their filetypes here:  



# Windows generates these files automatically: 
thumbs.db
desktop.ini

# Sometimes Vim leaves leftover files after it closes: 
*.*~
*.swp


## 	An example from Git: 
# git ls-files --others --exclude-from=.git/info/exclude
# 	Lines that start with '#' are comments.
# 	For a project mostly in C, the following would be a good set of
# 	exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~

# EOF #########################################################################